.menu-inicio {
    box-shadow: $cor-cinzeborder -1px 3px 3px -1px;
    margin: 5px;

    &__item {
        margin: 10px;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    a {
        color: $cor-cinzaescuro;
    }
    @media(max-width: $breakpoint-sm) {
        &.container-fluid {
            margin: 0px;
            padding: 0px;
            font-size: 14px;
        }
    }
}