.menu-inicio {
    box-shadow: $cor-cinzeborder -1px 3px 3px -1px;
    margin: 5px;

    &__item {
        // margin: 10px;
        // padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    a {
        color: $cor-cinzaescuro;
    }
    .row {
        margin-bottom: 20px;
        height: 35px;
    }
    &__item--atual{
        color: $cor-vermelho;
        
    }
    @media(max-width: $breakpoint-sm) {
        .container-fluid {
            margin: 0px;
            padding: 0px;
            font-size: 14px;
            margin-bottom: 20px;
        }
        .row{
            flex-wrap: initial;
            margin-bottom: 20px;
            height: 35px;
        }
    }
}