.rodape{
    background-color: $cor-cinza;
    &__linha-1{
        background-color: $cor-cinza;
        border-bottom: 1px solid $cor-cinzeborder;
        // padding: 0 10px 10px 10px;
        overflow: auto;
        li{
            display: inline-block;
            margin: 0 10px;
        }
    }
    &__linha-2{
        background-color: $cor-cinza;
        padding: 0 10px 10px 10px;
        text-decoration: none;
    }
    &__linha-3{
        background-color: $cor-branca;
        text-align: left;
        padding: 0 10px 10px 10px;
        text-decoration: none;
        color: $cor-cinzaescuro;
        overflow: auto;
    }
    &__linha-4{
        background-color: $cor-cinza;
        text-align: center;
        padding: 0 10px 10px 10px;
        color: $cor-cinzaescuro;
        font-weight: bold;
        overflow: auto;
    }
    &__coluna{
        font-weight: bold;
        text-decoration: none;
    }
    @media(max-width: $breakpoint-sm){
        &__coluna--vermelho{
            color: $cor-vermelho;
            padding: 10px;
        }
    }
    &__titulo{
        border-bottom: 1px solid $cor-cinzeborder;
        padding: 0 10px 10px 10px;
        font-size: 18px;
        color: $cor-preto;
        text-decoration: none;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    &__lista-links{
        padding: 0;
        list-style: none;
    }
    &__lista-links__item{
        color: $cor-cinzaescuro;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
    }
    @media(min-width: $breakpoint-md){
        &__coluna{
            float: left;
            //width: 33.333%;
            padding: 0 15px;
            margin: 0;
        }
    }
}