.rodape{
    background-color: $cor-cinza;
    &__linha-1{
        background-color: $cor-cinza;
        border-top: 1px solid $cor-cinzeborder;
        border-bottom: 1px solid $cor-cinzeborder;
        // padding: 0 10px 10px 10px;
        overflow: auto;
    }
    &__linha-2{
        background-color: $cor-cinza;
        font-weight: bold;
        font-size: 18px;
        padding: 0 10px 10px 10px;
        text-decoration: none;
    }
    &__linha-3{
        background-color: $cor-branca;
        text-align: left;
        padding: 0 10px 10px 10px;
        text-decoration: none;
        color: $cor-cinzaescuro;
        display: inline-flex;
        overflow: auto;
        width: 97.9%;
    }
    &__linha-4{
        background-color: $cor-cinza;
        text-align: center;
        padding: 0 10px 10px 15px;
        color: $cor-cinzaescuro;
        overflow: auto;
    }
    &__titulo{
        border-top: 1px solid $cor-cinzeborder;
        padding: 10px;
        font-size: 18px;
        color: $cor-preto;
        text-decoration: none;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    &__lista-links{
        padding: 0;
        list-style: none;
        display: flex;
        float: right;
    }
    &__lista-links__item{
        color: $cor-cinzaescuro;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
        padding: 0px 10px 0px 10px;
    }
    &__coluna-1{
        float: left;
        width: 50%;
    }
    &__coluna-2{
        display: inline-block;
    }
    &__coluna-2 p{
        margin: 0px 0px 0px 10px;
        padding: 5px;
    }
    &__coluna-2 img{
        margin: 0px 0px 0px 15px;
        padding: 0px 0px 0px 0px;
    }
    @media(max-width: $breakpoint-sm + 1){
        &__coluna-2--vermelho{
            color: $cor-vermelho;

        }

    }
    &__lista-links-2{
        padding: 0;
        list-style: none;
        display: block;
    }
    &__lista-links__item-2{
        color: $cor-cinzaescuro;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
        padding: 0px 10px 0px 10px;
        font-size: 15px;
        text-align: left;
    }
    @media(min-width: $breakpoint-md){
        &__coluna-3{
            display: inline-flex;
            flex-flow: wrap;
            width: 38.333%;
            padding: 0 15px;
            margin: 0;
        }
        &__linha-2{
            padding: 0;
        }
        &__titulo{
            border-top: 0px;
        }
        &__linha-1{
            padding: 10px 40px 10px 40px;
        }
    }
    @media(min-width: $breakpoint-lg){
        &__coluna-3{
            display: inline-flex;
            flex-flow: wrap;
            width: 42.333%;
            padding: 0 15px;
            margin: 0;
        }
        &__linha-2{
            padding: 20px 90px 0px 80px;
        }
        &__titulo{
            border-top: 0px;
        }
        &__linha-1 {
            padding: 10px 200px 10px 80px;
        }
        &__lista-links-2{
            padding-right: 50px;
        }
    }
    &__lista-links-3{
        //padding: 0;
        list-style: none;
        display: contents;
    }
    &__lista-links__item-3{
        color: $cor-cinzaescuro;
        text-decoration: none;
        margin-bottom: 10px;
        display: contents;
        padding: 0px 10px 0px 10px;
        font-size: 15px;
        text-align: right;
    }
    @media(max-width: $breakpoint-sm + 1){
        &__coluna-2--vermelho img{
            display: none;
        }
    }
}
