.logo{
    background-image: url("../img/logo-sky.svg");
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    width: 120px;
    height: 53px;
    margin: 0;
}
.logo--cinza{
    background-image: url("../img/sky-light-default.svg");
    margin: 15px 0px 0px 15px;
}
